@model List<tbl_openContent>


@{
    ViewBag.Title = tbl_openContent.getClassTitle() + " Sıralama";
    Layout = "~/Areas/radmin/Views/Shared/_LayoutPageAdmin.cshtml"; 
}

@if (ViewBag.success != null)
{ 
    @Html.Raw(ViewBag.resultHtml)
}


@using (Html.BeginForm("GeneralSorting", "OpenContent", FormMethod.Post, new { @class = "mainForm" }))
{  
    @Html.ValidationSummary(null, new { @class = "validationInfo hideit" }) 
    
    <div class="title">
        <h5>@tbl_openContent.getClassTitle() Sıralama</h5>
        <a></a>
    </div> 

    <!--Upload-->
    @Html.AntiForgeryToken()

   
    <fieldset>
        <div class="widget">

            <!--Tabs-->
            <ul class="tabs">
                <li><a href="#tab1">@tbl_openContent.getClassTitle() Sıralama</a></li>

            </ul>

            <!--Column-->
            <div class="tab_container">

                <div id="tab1" class="tab_content">

                    <ul id="sortable">

                        @foreach (var item in Model)
                        {  <li class="ui-state-default" data-id="@item.openContentId"><span class="ui-icon ui-icon-arrowthick-2-n-s">
                              </span>@item.title</li>
                                  
                        }
                    </ul>


                    @Html.Hidden("sortArray")

                </div>


            </div>

            <div class="fix"></div>
        </div>
    </fieldset>  
    
    <div class="fix" style="height: 20px"></div>
   
    <!--Buttons-->
    
    <input type="submit" value="Kaydet" class="redBtn submitForm" />
    
    <a class="greyishBtn button floatright" href="@Url.Action("Index")">Geri Dön </a>    
    
}

