@model IEnumerable<tbl_critear>

@{
    Layout = "~/Areas/radmin/Views/Shared/_LayoutPageAdmin.cshtml";
    ViewBag.Title = tbl_critear.getClassTitle() + " Yönetimi";
}

<div class="title">
    <h5>@tbl_critear.getClassTitle() Yönetimi</h5>
</div>

<div class="body alignLeft">
    <div class="proccess floatright">
        <select>
            <option value="-1">İşlem Seçiniz</option>
            <option>Sil</option>
            <option>Sırala</option>
            <option>Aktif</option>
            <option>Pasif</option>
        </select>
    </div>
    <a href="@Url.Action("create")" title="" class="btnIconLeft mr10 mt5">
        <img src="@Url.Content("~/Areas/radmin/Content/images/icons/dark/add.png")" alt="" class="icon" /><span>Yeni @tbl_critear.getClassTitle() Ekle</span></a>
  <a href="@Url.Action("GeneralSorting")" title="" class="btnIconLeft mr10 mt5">
        <img src="@Url.Content("~/Areas/radmin/Content/images/icons/dark/podium.png")" alt="" class="icon" /><span>Genel @tbl_critear.getClassTitle() Sıralama</span></a>
    <div class="fix"></div>
</div>

<div class="table">
    @Html.Partial("Table", Model)
</div>
