@model tbl_product

@{
    ViewBag.Title = @Model.classTitle + " Ekle";
    Layout = "~/Areas/radmin/Views/Shared/_LayoutPageAdmin.cshtml"; 
}

@if (ViewBag.success != null)
{ 
    @Html.Raw(ViewBag.resultHtml)
}


@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "mainForm" }))
{  
    @Html.ValidationSummary(null, new { @class = "validationInfo hideit" }) 
    
    <div class="title">
        <h5>@Model.classTitle Ekleme</h5>
        <a></a>
    </div> 

    <!--Upload-->
    @Html.AntiForgeryToken()

   
    <fieldset>
        <div class="widget">

            <!--Tabs-->
            <ul class="tabs">
                <li><a href="#tab1">Genel</a></li>
                <li><a href="#tab2">Model Seçimi</a></li>
                <li><a href="#tab3">Bilgiler</a></li>
                <li><a href="#tab4">Seo</a></li>
            </ul>

            <!--Column-->
            <div class="tab_container">
                <div id="tab1" class="tab_content">

                    <!--productId -->
                    @Html.HiddenFor(a => a.productId, new { @id = "primaryKey" })

                    <!--langId -->
                    <div class="rowElem">@Html.LabelFor(a => a.langId)<div class="formRight">@Html.LangDropDown(a => a.langId)<label
                        class="error">@Html.ValidationMessageFor(a => a.langId)</label>
                    </div>
                        <div class="fix"></div>
                    </div>

                    <!--statu -->
                    <div class="rowElem">@Html.LabelFor(a => a.statu)<div class="formRight">@Html.StatuDropDown(a => a.statu)<label
                        class="error">@Html.ValidationMessageFor(a => a.statu)</label>
                    </div>
                        <div class="fix"></div>
                    </div>

                    <!--isShowCase -->
                    <div class="rowElem">@Html.LabelFor(a => a.isShowCase)<div class="formRight">@Html.StatuDropDown(a => a.isShowCase)<label
                        class="error">@Html.ValidationMessageFor(a => a.isShowCase)</label>
                    </div>
                        <div class="fix"></div>
                    </div>

                    <!--brandId -->
                    <div class="rowElem">@Html.LabelFor(a => a.brandId)<div class="formRight">@Html.DropDownList("brandId", new SelectList(Model.brandList(), "key", "value"))
                    </div>
                        <div class="fix"></div>
                    </div>

                    <!--businessId -->
                    <div class="rowElem">@Html.LabelFor(a => a.businessId)<div class="formRight">@Html.DropDownList("businessId", new SelectList(Model.businessList(), "key", "value"))
                    </div>
                        <div class="fix"></div>
                    </div>

                </div>
                <div id="tab2" class="tab_content">

                    <!-- Category -->

                    <div class="categoryContainer">
                        @if (ViewBag.treeView != null)
                        {
                            TreeviewOption option = (TreeviewOption)ViewBag.treeView; 
                            <div id="tree"></div>
                            <input id="@option.fieldName" name="@option.fieldName" type="hidden" /> 
                            @section scriptArea{

                                @Html.Partial("treeviewHtml", option)
                            } 
                        }
                    </div>
                </div>

                <div id="tab3" class="tab_content">

                    <!--name -->
                    <div class="rowElem">@Html.LabelFor(a => a.name)
                        <div class="formRight">@Html.TextBoxFor(a => a.name, new { @class = "changeUrl" })<label
                            class="error">@Html.ValidationMessageFor(a => a.name)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--url -->
                    <div class="rowElem">@Html.LabelFor(a => a.url)<div class="formRight">@Html.TextBoxFor(a => a.url, new { @class = "pageUrl", @readonly = true, @data_action = Url.Action("UrlControl") })
                        <span class="mt5 ml10 inlineBlock">Sayfa Adresini Kendim Oluşturmak İstiyorum</span>
                        @Html.CheckBox("isManuelUrl", Model.isManuelUrl, new { @class = "manuelUrl" })<label
                            class="error">@Html.ValidationMessageFor(a => a.url)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--title -->
                    <div class="rowElem">@Html.LabelFor(a => a.title)<div class="formRight">@Html.TextBoxFor(a => a.title)<label
                        class="error">@Html.ValidationMessageFor(a => a.title)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--price -->
                    <div class="rowElem">@Html.LabelFor(a => a.price)<div class="formRight">
                        @Html.TextBox("price", Model.price.ToString("F2",System.Globalization.CultureInfo.CreateSpecificCulture("en-US")))<label
                            class="error">@Html.ValidationMessageFor(a => a.price)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--isTaxInclude -->
                    <div class="rowElem">@Html.LabelFor(a => a.isTaxInclude)<div class="formRight">@Html.StatuDropDown(a => a.isTaxInclude)<label
                        class="error">@Html.ValidationMessageFor(a => a.isTaxInclude)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--taxPercent -->
                    <div class="rowElem">@Html.LabelFor(a => a.taxPercent)<div class="formRight">@Html.TextBoxFor(a => a.taxPercent)<label
                        class="error">@Html.ValidationMessageFor(a => a.taxPercent)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--isDiscountPriceActive -->
                    <div class="rowElem">@Html.LabelFor(a => a.isDiscountPriceActive)<div class="formRight">@Html.StatuDropDown(a => a.isDiscountPriceActive)<label
                        class="error">@Html.ValidationMessageFor(a => a.isDiscountPriceActive)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--discountPrice -->
                    <div class="rowElem">@Html.LabelFor(a => a.discountPrice)<div class="formRight">@Html.TextBox("discountPrice", Model.discountPrice.ToString("F2",System.Globalization.CultureInfo.CreateSpecificCulture("en-US")))<label
                        class="error">@Html.ValidationMessageFor(a => a.discountPrice)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--shortDescription -->
                    <div class="rowElem">@Html.LabelFor(a => a.shortDescription)<div class="formRight">@Html.TextAreaFor(a => a.shortDescription, new { style = "height:100px" })<label
                        class="error">@Html.ValidationMessageFor(a => a.shortDescription)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                    <!--detail -->
                    <div class="rowElem">@Html.LabelFor(a => a.detail)<div class="formRight">@Html.CkeditorHtml(a => a.detail)<label
                        class="error">@Html.ValidationMessageFor(a => a.detail)</label>
                        </div>
                        <div class="fix"></div>
                    </div>

                </div>
                <div id="tab4" class="tab_content">

                    <!--metaKeyword -->
                    <div class="rowElem">@Html.LabelFor(a => a.metaKeyword)<div class="formRight">@Html.TextBoxFor(a => a.metaKeyword, new { @class = "tags" })
                    </div>
                        <div class="fix"></div>
                    </div>

                    <!--metaDescription -->
                    <div class="rowElem">@Html.LabelFor(a => a.metaDescription)<div class="formRight">@Html.TextAreaFor(a => a.metaDescription)<label
                        class="error">@Html.ValidationMessageFor(a => a.metaDescription)</label>
                        </div>
                        <div class="fix"></div>
                    </div>


                </div>
            </div>

            <div class="fix"></div>
        </div>
    </fieldset>  
    
    <div class="fix" style="height: 20px"></div>
   
    <!--Buttons-->
                        if (ViewBag.success == null || !(bool)ViewBag.success)
                        {
    <input type="submit" value="Kaydet" class="redBtn submitForm" />
                        }
    <a class="greyishBtn button floatright" href="@Url.Action("Index")">Geri Dön </a>    
    
}

