@model ViewModel.Checkout.Billing.helperRegisterBilling

<form>

    @if (Model.isMessageExist)
    {
        @Html.Raw(Model.message)
    }

    @Html.AntiForgeryToken()

    @Html.HiddenFor(a => a.pageId)

    @Html.Hidden("addressId", 0)

    <div class="registerDeliveryForm">

        <a class="newAddress chromeBtn">@Resources.lang.newAddressAdd</a>

        <div class="rowElem mBottom10">
            <div class="formRight">

                @Html.DropDownListFor(a => a.selectedBillingAddressId, Model.getAddressDropDown(), new { @class = "deliveryRegisterSelect" })


                <label class="error">@Html.ValidationMessageFor(a => a.selectedBillingAddressId)</label>

            </div>

        </div>

        @Html.HiddenFor(a => a.userguid)

        <div class="adressHidenDetailList">

            @foreach (var item in Model.addressList)
            {
                <div class="addresBox">
                    <div class="table">
                        <div class="tableCellVertical">
                            <div class="t1">@item.name (@item.type)</div>
                            <div class="t2">@Html.Raw(item.content)</div>
                            <div class="t3"  data-addressid="@item.addressId">
                                <a class="adresLink detail">Ayrıntılı Göster</a> | <a class="adresLink edit">Düzenle</a>
                                | <a
                                    class="adresLink delete">Sil</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>

        <div class="clearfix"></div>

        <div class="submit mTop40">
            <a class="btn redBg clickDisable save" data-checkvalidation=".checkoutForm form">@Resources.lang.saveAndContinue</a>
        </div>

    </div>

</form>
