@model ViewModel.Checkout.Summary.helperSummaryPage

@{
   
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@section cssArea{

    <link href="~/Content/js/plugin/pop-up/magnific-popup.css" rel="stylesheet" />
}

<div class="wrapper">
    <div class="generalMainContainer">
        <div class="generalMainHeader contentBg">
        </div>
        <div class="generalMainContent contentBg">
            <div class="innerContent">
                <div class="clearfix"></div>
                <div class="rightStep">

                    @Html.Partial("RightStep", new ViewModel.Checkout.rightStep(Model.stepLinkList, Model.activeStep))

                </div>

                <div class="checkoutContainer">

                    <div class="checkoutBlock mTop30">
                        <span>1</span>
                        <h2>@Model.stepLinkList.Where(a => a.step == ViewModel.Checkout.checkoutStep.delivery).First().name
                        </h2>
                    </div>

                    <div class="checkoutBlock">
                        <span>2</span>
                        <h2>@Model.stepLinkList.Where(a => a.step == ViewModel.Checkout.checkoutStep.billing).First().name
                        </h2>
                    </div>


                    <div class="checkoutBlock">
                        <span>3</span>
                        <h2>@Model.stepLinkList.Where(a => a.step == ViewModel.Checkout.checkoutStep.cargo).First().name
                        </h2>
                    </div>



                    <div class="checkoutBlock">
                        <span>4</span>
                        <h2>@Model.stepLinkList.Where(a => a.step == ViewModel.Checkout.checkoutStep.payment).First().name
                        </h2>
                    </div>

                    <div class="checkoutBlock active">
                        <span>5</span>
                        <h1>@Model.stepLinkList.Where(a => a.step == ViewModel.Checkout.checkoutStep.summary).First().name
                        </h1>
                    </div>

                    <div class="pageContent checkoutStaticContent mLeft10">
                        <p class="checkoutDetail">@Html.Raw(Model.detail)</p>
                        <div class="checkoutForm mTop20">

                            @if (Model.isMessageExist)
                            {
                                @Html.Raw(Model.message)
                            }

                            <div class="summary">

                                @if (Model.orderSummary.basketItem != null)
                                {
                                    using (Html.BeginForm())
                                    {
                                     
                                    <div class="basketContent">

                                        <div class="header">
                                            <div class="item text photo"><span>Ürün</span> </div>
                                            <div class="item text description"><span>Açıklama</span></div>
                                            <div class="item text price"><span>Fiyat</span></div>
                                            <div class="item text count"><span>Adet</span></div>
                                            <div class="item text total"><span>Toplam</span></div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="tableContent">

                                            @foreach (var item in Model.orderSummary.basketItem.basketList)
                                            {
                                                <div class="itemContainer">

                                                    <div class="item photo">
                                                        <div class="table">
                                                            <div class="tableCellVertical">
                                                                <img src="~/@item.photo" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="item description">
                                                        <div class="table">
                                                            <div class="tableCellVertical">@Html.Raw(item.productDescriptionWithOptionItem)</div>
                                                        </div>
                                                    </div>

                                                    <div class="item price">

                                                        <div class="table">
                                                            <div class="tableCellVertical">@item.productPriceDec.ToString("F2", Model.orderSummary.basketItem.priceStringFormat)
                                                                TL
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="item count">


                                                        <div class="table">
                                                            <div class="tableCellVertical">
                                                                <input type="text" class="quantityBox" name="quantityBox_@item.basketId" value="@item.quantity" readonly="readonly" />

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="item total">
                                                        <div class="table">
                                                            <div class="tableCellVertical">@item.productTotalPriceDec.ToString("F2", Model.orderSummary.basketItem.priceStringFormat)
                                                                TL
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            }

                                        </div>

                                        <div class="clearfix"></div>

                                        @if (Model.orderSummary.basketItem.isDiscountExist)
                                        {
                                            foreach (var item in Model.orderSummary.basketItem.discountList)
                                            {
                                            
                                            <div class="tableFooter">
                                                <div class="itemContainer">
                                                    <div class="total">
                                                        <div class="price">
                                                            <span style="font-weight: normal">@item.discountAmount.ToString("F2", Model.orderSummary.basketItem.priceStringFormat)
                                                                TL</span>
                                                        </div>
                                                        <div class="text">
                                                            <span style="font-weight: normal">@item.name @(!string.IsNullOrWhiteSpace(item.description) ? " - " + item.description : "")
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            }
                                        }


                                        <div class="clearfix"></div>

                                        @if (Model.orderSummary.basketItem.isBasketExist)
                                        {
                                     
                                            <div class="tableFooter">
                                                <div class="itemContainer">
                                                    <div class="total">
                                                        <div class="price firstRow">


                                                            <span>@Model.orderSummary.basketItem.totalPriceStr TL</span>
                                                        </div>
                                                        <div class="text firstRow">


                                                            <span>Ürün Toplam (Kdv Dahil)</span>
                                                        </div>

                                                    </div>

                                                    <div class="total">

                                                        <div class="price">
                                                            <span>@Model.orderSummary.cargoPriceStr</span>
                                                        </div>

                                                        <div class="text">


                                                            <span>@Resources.lang.cargoPrice</span>
                                                        </div>

                                                    </div>

                                                    <div class="total">

                                                        <div class="price">


                                                            <span>@Model.orderSummary.paymentOptionChooseStr </span>
                                                        </div>

                                                        <div class="text">


                                                            <span>@Resources.lang.paymentType</span>
                                                        </div>

                                                    </div>

                                                    @if (Model.orderSummary.paymentOptionChoose == ViewModel.Checkout.Payment.paymentOption.creditCard)
                                                    {
                                                        <div class="total">

                                                            <div class="price">

                                                                <span>@Model.orderSummary.additionalPriceStr </span>
                                                            </div>
                                                            <div class="text">


                                                                <span>@Resources.lang.additionalPrice</span>
                                                            </div>

                                                        </div>
                                                    }

                                                    @if (Model.orderSummary.paymentOptionChoose == ViewModel.Checkout.Payment.paymentOption.transfer && Model.orderSummary.isTransferDiscountExist)
                                                    {
                                                   
                                                        <div class="total">

                                                            <div class="price">

                                                                <span>@Model.orderSummary.transferDiscountStr </span>
                                                            </div>
                                                            <div class="text">


                                                                <span>@Resources.lang.transferDiscount</span>
                                                            </div>

                                                        </div>
                                                    }

                                                    <div class="total">

                                                        <div class="price lastRow">

                                                            <span>@Model.orderSummary.allTotalPriceStr </span>
                                                        </div>
                                                        <div class="text lastRow">


                                                            <span>@Resources.lang.allPrice</span>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                   
                                        }

                                    </div> 
                                    
                                    <div class="orderNote">
                                        @Html.LabelFor(a => a.orderNote)
                                        @Html.TextAreaFor(a => a.orderNote)
                                    </div>
                                    
                                    <div class="approveList">

                                        <div class="item">

                                            @Html.CheckBoxFor(a => a.isAgreementChecked) <a href="#">@Resources.lang.salesAgreement</a> @Resources.lang.salesAgreementDetail
                                            @Html.ValidationMessageFor(a => a.isAgreementChecked)

                                            <div class="agreement">
                                                <div class="agreementContainer modelContainer">

                                                    <div class="detail">
                                                        @Html.Raw(Model.salesAgreement)
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="item">

                                            @Html.CheckBoxFor(a => a.isPreSalesAgreementChecked) <a href="#">@Resources.lang.preSalesAgreement</a> @Resources.lang.preSalesAgreementDetail
                                            @Html.ValidationMessageFor(a => a.isPreSalesAgreementChecked)

                                            <div class="agreement">
                                                <div class="agreementContainer modelContainer">
                                                    <div class="detail">
                                                        @Html.Raw(Model.preSalesAgreement)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    @Html.AntiForgeryToken()

                                    <div class="clearfix"></div>

                                    <div class="submit mTop40 fRight mRight20">
                                        <button class="btn greenBg clickDisable save" data-checkvalidation=".checkoutForm form">@Resources.lang.completeOrder</button>
                                    </div> 
                                         
                                    }
                                }

                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="generalMainFooter contentBg">
        </div>
    </div>
</div>

@section scriptArea{

    <script src="~/Content/js/plugin/pop-up/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/plugin/jquery.maskedinput.min.js"></script>
    <script id="titizJs" src="~/Content/js/core.js?modul=summary"></script>

}
