@model tbl_productCritear

@{
    ViewBag.Title = Model.classTitle + " Ekle";
    Layout = "~/Areas/radmin/Views/Shared/_LayoutPageAdmin.cshtml";

    int productId = 0; 
}

@if (ViewBag.success != null)
{ 
    @Html.Raw(ViewBag.resultHtml)
}

@if (ViewContext.RouteData.Values["filterId"] != null)
{
    productId = int.Parse(ViewContext.RouteData.Values["filterId"].ToString());
}

@using (Html.BeginForm("Create", "ProductCritear", FormMethod.Post, new { @class = "mainForm" }))
{  
    @Html.ValidationSummary(null, new { @class = "validationInfo hideit" }) 
    
    <div class="title">
        <h5>@Model.classTitle Ekleme</h5>
        <a></a>
    </div> 

    <!--Upload-->
    @Html.AntiForgeryToken()

   
    <fieldset>
        <div class="widget">

            <!--Tabs-->
            <ul class="tabs">
                <li><a href="#tab1">Ürün Seçenek Seçimi</a></li>

            </ul>

            <!--Column-->
            <div class="tab_container">

                <div id="tab1" class="tab_content">

                    <!--productCritearId -->
                    @Html.HiddenFor(a => a.productCritearId, new { @id = "primaryKey" })

                    <!--productId -->
                    @Html.Hidden("productId", productId)


                    <!-- Category -->
                    <div class="categoryContainer">
                        @if (ViewBag.treeView != null)
                        {
                            TreeviewOption option = (TreeviewOption)ViewBag.treeView; 
                            <div id="tree"></div>
                            <input id="@option.fieldName" name="@option.fieldName" type="hidden" /> 
                            <label class="error">@Html.ValidationMessageFor(a => a.critearId)</label> 
                            @section scriptArea{

                                @Html.Partial("treeviewHtml", option)
                            } 
                        }
                    </div>

                </div>


            </div>

            <div class="fix"></div>
        </div>
    </fieldset>  
    
    <div class="fix" style="height: 20px"></div>
   
    <!--Buttons-->
                        if (ViewBag.success == null || !(bool)ViewBag.success)
                        {
    <input type="submit" value="Kaydet" class="redBtn submitForm" />
                        }
    <a class="greyishBtn button floatright" href="@Url.Action("IndexWithFilter", new { filterId = productId.ToString() })" >Geri Dön </a>    
    
}

