@model IEnumerable<tbl_email>

<div class="head">
</div>
<form>
    @Html.Hidden("controlName", ViewContext.RouteData.Values["Controller"])
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="indexTable">
        <thead>
            <tr>
                <th class="nosortable"></th>
                <th>#</th>
                
                <th>
                    @Html.DisplayNameFor(model => model.emailTypeId)
                </th>
                
                 <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th style="width:200px;">
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @{ int index = 1;
            }

            @foreach (var item in Model)
            {
                <tr class="gradeA">
                    <td class="center">
                        @Html.CheckBox("selectedItem", new { value = item.emailId })
                    </td>
                    <td class="center">@index</td>
                 
                    <td class="center">
                           @Html.DisplayFor(modelItem => item.emailTypeName)
                    </td>
                      <td class="center">
                           @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td class="center">
                    @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td class="center editBtn" data-id="@item.emailId">
                        <a title="Düzenle" class="btn14 mr5" href="@Url.Action("Edit", new { id = item.emailId })">
                            <img  src="@Url.Content("~/Areas/radmin/Content/images/icons/dark/pencil.png")"/></a>
                   
                        <a title="Sil" data-action="delete" class="btn14 mr5 delete ajx">
                            <img  src="@Url.Content("~/Areas/radmin/Content/images/icons/dark/trash.png")"/></a>
                    </td>
                </tr>
                
                index = index + 1;
            }

        </tbody>
    </table>
</form>
