@model ViewModel.Account.Discount.helperDiscount

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="wrapper">
    <div class="generalMainContainer">
        <div class="generalMainHeader contentBg"></div>
        <div class="generalMainContent contentBg">
            <div class="innerContent">

                @Html.Partial("breadCrumb", Model.breadCrumbItem)


                <ul class="leftMenu">

                    @foreach (var item in Model.leftMenuList)
                    {
                        <li class="@item.className"><a href="~/@item.url">@item.name</a></li>
                    }

                </ul>

                <div id="accountContainer">
                    <h1 class="accountTitle">@Model.title</h1>
                    <div class="pageContent mBottom0 mLeft0 mTop10">
                        @Html.Raw(Model.detail)
                    </div>

                    <p>@Resources.lang.noDiscountFind</p>



                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="generalMainFooter contentBg"></div>
    </div>
</div>


@section scriptArea{

    <script id="titizJs" src="~/Content/js/core.js?modul=accountOrder"></script>

}